USE [master]
GO
/****** Object:  Database [otomasyon]    Script Date: 3.01.2023 16:47:11 ******/
CREATE DATABASE [otomasyon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'otomasyon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\otomasyon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'otomasyon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\otomasyon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [otomasyon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [otomasyon]
GO
/****** Object:  Table [dbo].[login_register]    Script Date: 3.01.2023 16:47:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_register](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nchar](20) NULL,
	[soyadi] [nchar](20) NULL,
	[username] [nchar](20) NULL,
	[password] [nchar](20) NULL,
	[re_password] [nchar](20) NULL,
	[email] [nchar](40) NULL,
	[phone] [nchar](15) NULL,
	[bakiye] [float] NULL,
	[resim] [nchar](200) NULL,
	[iban] [int] NULL,
 CONSTRAINT [PK_login_register_1] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
